 .TopNav {
    background: rgb(35, 41, 49);
    border-bottom: 1px solid rgb(81, 81, 81);
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    color: #fff;
    z-index: 1001;
}

.TopNav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.noodleInfoSection, .roomSettings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.noodleTopNavButton {
    padding: 4px 9px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #3d3e42;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.noodleTopNavButton:hover {
    background-color: #515151;
}

.noodleTopNavButton svg {
    width: 18px;
    height: 18px;
    color: #fff;
}

.userMetrics, .roomsToggle {
    background-color: transparent;
}

.roomsToggle svg:nth-child(2) {
    width: 16px;
    height: 18px;
}

.sideNavToggle {
    margin-left: 10px;
}

.sideNavToggle, .settingsButton {
    background-color: transparent;
    border-radius: 3px;
    padding: 6px;
}

.roomName {
    padding: 5.6px 8px;
}

.verticalSpacer::before {
    display: flex;
    content: "";
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 1px;
    border-left: 1px solid rgb(81, 81, 81);
}

.minimise {
    display: flex;
}

@media (width < 620px) {
    .roomInfo {
        display: none;
    }
}
