.widget {
  background-color: #232931;
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 8px;
  width: 360px;
  z-index: 1001;
  /* box-shadow: 0px 0px 2px #888888; */
}

.widget::-webkit-resizer {
  display: none;
}

.resizable {
  overflow: hidden;
  resize: both;
  min-width: 360px;
  min-height: 164px;
}

.onTop {
  z-index: 1002;
}

.widgetHeader {
  display: flex;
  color: #fff;
  justify-content: space-between;
  height: 45px;
  min-height: 45px;
  max-height: 45px;
  border-bottom: 1px solid #515151;
  align-items: center;
  text-align: center;
  cursor: grab;
}

.transparent {
  background-color: transparent;
  border: 0px;
}

.widgetTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8px 22px;
}

.closeWidget {
  display: flex;
  padding: 6px 10px;
  cursor: pointer;
}

.closeWidget svg {
  width: 18px;
  height: 18px;
}

.widgetContent {
  display: flex;
  flex-direction: column;
  overflow: auto;
  color: #fff;
  height: 100%;
}

.widgetContent::-webkit-scrollbar {
  display: none;
}

.resize {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 16px;
}

.resize svg {
  position: absolute;
  fill: #fff;
  width: fit-content;
  display: flex;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  pointer-events: none;
}

.visibleResize {
  background-color: rgb(35, 41, 49);
}

.display {
  display: none;
}
